body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffc900;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem;
    color: #ff405d;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background-color: inherit;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .form-control::-moz-placeholder {
    color: #323232;
}
.form-signin .form-control:-ms-input-placeholder {
    color: #323232;
}
.form-signin .form-control::-webkit-input-placeholder {
    color: #323232;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.authentication-name {
    padding: 0rem 1.5rem 0rem 0rem;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus {
    background-color: #ff405d;
    border-color: #ff405d;
}
.navbar {
    background-color: #ff405d;
}
.navbar-nav .nav-link {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-style: italic;
    color: #ff405d;
}
.navbar-text {
    color: rgba(0,0,0,.9) !important;
}